/* utilities special spacer */
.px-18 {
    padding-left: 18px;
    padding-right: 18px;
  }
  
  .py-18 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .py-44 {
    padding-top: 44px;
    padding-bottom: 44px;
  }
  
  .pt-60 {
    padding-top: 60px;
  }
  
  .pb-80 {
    padding-bottom: 80px;
  }
  
  .mb-42 {
    margin-bottom: 42px;
  }