/* color */
.bg-primary-dark{
    background-color: #190014CC;
  }
  
  /* text-indent */
  .text-indent-101{
    text-indent: 101%;
  }
  
  /* z-index */
  .z-index-1055{
    z-index: 1055;
  }

  li{list-style: none;}
  